@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

:root{
  --black: #000;
  --white: #fff;
  --c-brand: #3eaf7c;
  --c-brand-light: #4abf8a;
  --bright-color: #ff9b1f;
  --darktgrey: #242424;
  --middlegrey: #dfdbdb;
  --middlegrey2: #cecbcb;
  --lightgrey: #eee;
  --padding-main: 15px;
  --time: 150ms;
}
* {
    /* transition: all 0.1s; */
    clear: both;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s ease-in; /* cubic-bezier(1, 0.3, 0.3, 1); */
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

html {
    font-size: 62.5%;
    padding: 20px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    color: var(--darktgrey);
    background: #eee;
    font-size: 1.4rem;
    font-family: sans-serif;
    -webkit-box-shadow: 4px 2px 10px 8px #ccc;
    -moz-box-shadow: 4px 2px 10px 8px #ccc;
    box-shadow: 4px 2px 10px 8px #ccc;
    font-family: 'Montserrat', sans-serif;
}

.a0 {
    display: inline-flex;
    text-decoration: none;
}
.a0:hover {
    text-decoration: none;
}
.a0:hover i {
    color: var(--bright-color);
}

.text404 {
      margin: 20px 0;
}
.header {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin: 0;
    padding: 20px;
    min-height: 240px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgb(0, 0, 0, 0.7) 100%), url(../img/forest_fog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%50%;
}

.settings_langs {
    position: absolute;
    color: #000;
    top: 20px;
    right: 20px;
    padding: 4px 8px;
    background: rgba(255, 255, 255, 0.8);
}
.settings_langs span {
  cursor: pointer;
}
.activelang {
  font-weight: 700;
  color: var(--bright-color) !important;
  text-decoration: none;
}
.header-text {
    margin: auto 20px;
    color: var(--white);
    font-variant: all-small-caps;
    text-align: right;
}
.header-text--title {
    font-size: 2.4rem;
    color: var(--bright-color);
    letter-spacing: 1px;
    text-shadow: 3px 3px 10px var(--black);
}
.header-text--subtitle {
    font-size: 1.8rem;
}


.profile_pic {
    margin: auto 80px 0 0;
    border-radius: 100%;
    width: 240px;
    border: 2px solid var(--bright-color);
}

.container {
  display: flex;
  margin: 0 auto;
}

.wrap {
  background: var(--white);
  padding: 0 20px;
  width: 100%;
  /* width: calc(100% - 360px); */
}
.clearfix {
    content: "";
    clear: both;
    display: table-cell;
}

a {
    color: #000 !important;
    cursor: pointer;
    transition: all var(--time);
}

a:hover {
    text-decoration: underline;
    color: var(--bright-color) !important;
    /* #2d9e94 */
}

.blockleft {
    /* padding: 10px; */
    box-sizing: border-box;
    display: flex;
}

.intro_wrap {
  display: flex;
  flex-wrap: wrap;
}

.introduction {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.personal_data {
    margin: 0 40px 0 0;
    padding: var(--padding-main);
    width: 100%;
}

.pdatalist {
    padding-left: 0.75rem;
}

.contacts {
    padding: var(--padding-main);
    width: 100%;
    background: var(--middlegrey);
}

.contact_icons {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    fill: var(--darktgrey);
    margin: 0.5rem 1rem 0 0;
}

.contacts a:hover .contact_icons {
    fill: #333;
    transform: scale(1.1, 1.1);
}

.contacts span a {
    display: block;
    min-width: 12rem;

}

.cover_letter {
    display: none;
    background: var(--darktgrey);
    padding: var(--padding-main);
    color: var(--white);
}

.cover_letter .section-title_1 {
    border-bottom: 1px solid var(--bright-color);
}

.icons {
    display: flex;
    padding: var(--padding-main);
    background: var(--middlegrey2);
    flex-grow: 1;
}

.icon-instagram,
.icon-facebook {
    width: 40px;
    height: 40px;
    color: #000;
    display: inline-block;
    font-size: 4rem;
}

.icons__social {
    width: 40%;
    box-sizing: border-box;
    padding-right: 1rem;
}

.icons__social a:not(:last-child) i {
    margin: 0 10px 0 0;
}
.icons__hobbies {
    width: 60%;
}

.icons__hobbies i:not(:last-child) {
    margin: 0 10px 0 0;
}

.icons img {
    border: 1px solid #8a6e6e;
    background: var(--white);
    border-radius: 50%;
    transition-duration: 1s;
    /*    transition: left 0s cubic-bezier(0, .99, .98, .02) 0s;*/
}

.icons img:hover {
    background: #333;
    border: 1px solid #333;
    border-radius: 50%;
}

.ancor-item a:hover .icon-settings-streamline-2,
.ancor-item a:hover .icon-earth-globe-streamline,
.ancor-item a:hover .icon-picture-streamline-1,
.ancor-item a:hover .icon-ios-list-outline {
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

a.activeLink .ancor-text {
    color: var(--bright-color) !important;
}


@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    /*
 20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
*/
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


.blockright {
  color: #000;
  padding: 10px;
  box-sizing: border-box;
}

.blockright a {
    /* color: #3193c1; */
    cursor: pointer;
}

.blockright a:hover {
    /* color: #333 !important; */
    /* #2d9e94 */
}

.hanging-btn {
    display: inline-block;
    position: fixed;
    width: 40px;
    min-height: 80px;
    top: 50%;
    right: 0;
    padding: 0 4px;
    background: rgba(119, 119, 119, 0.8);
    border: none;
    color: var(--white);
    font-variant: all-petite-caps;
    border-radius: 50px 0 0 50px;
    z-index: 999;
    outline: none;
    display: none;
}

.hanging-btn:hover {
    background: var(--white);
    color: #777;
    border: 1px solid var(--white);
}

.text-left {
    display: block;
    text-align: right;
    display: none;
}

ul {
    margin: 10px 0 20px 10px;
    padding-left: 1.5rem;
}

.summary {
    cursor: pointer;
    font-weight: 600;
    outline: none;
}
.summary:first-child {
    margin: 10px 0 0 0;
}


.ancors-block {
    display: flex;
}

.ancors-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.ancor-item {
    display: flex;
    width: 33%;
    min-height: 60px;
    vertical-align: middle;
    background: var(--darktgrey);
    font-weight: bold;
}

.ancor-item a {
    color: var(--white) !important;
}

.item-box {
    display: flex;
    margin: auto;
    align-items: center;
}

/* Icons Start ----------------------- */
[class^="icon-"],
[class*="icon-"] {
    /* height: 10px;
    width: 10px; */
    font-size: 1.6rem;
    display: inline-flex;
    fill: currentColor;
    font-family: "blockstoreio";
}

.icon-settings-streamline-2,
.icon-picture-streamline-1,
.icon-earth-globe-streamline,
.icon-ios-list-outline {
    font-size: 2rem;
    margin: 0 20px;
}

.icon-barbell,
.icon-mountains,
.icon-language,
.icon-facebook,
.icon-instagram {
    width: 40px;
    height: 40px;
    color: var(--white);
    font-size: 2.6rem;
    border-radius: 50px;
    vertical-align: top;
    background: var(--darktgrey);
    padding: 7px;
}


.icon-barbell:hover,
.icon-mountains:hover,
.icon-language:hover,
.icon-facebook:hover,
.icon-instagram:hover {
    background: #777;
    color: var(--white);
}

.ancor-text {
    display: inline-block;
    margin: auto;
    margin-left: 0;
    letter-spacing: 1px;
    color: var(--white);
    font-variant: all-petite-caps;
    text-decoration: underline;
}

.ancor-item a:hover .ancor-text {
    cursor: pointer;
    -webkit-transition: color 0.1s;
    -o-transition: color 0.1s;
    transition: color 0.1s;
    transform: scale(1.05);
    background: linear-gradient( 45deg, #56ff00, var(--bright-color));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.ancor-text a {
    text-decoration: none !important;
}

.position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 0;
    border-bottom: 1px dotted rgba(204, 204, 204, 1);
}

.period {
    color: #505050;
    font-size: 1.2rem;
    width: 24%;
    padding: 1%;
    /* background-image: linear-gradient(to top, #c1dfc4 0%, #cae4cc 100%); */
    display: flex;
    box-sizing: border-box;
}

.center {
    /* margin: auto; */
    font-weight: 600;
}

.position_title {
    color: #232323;
    font-size: 1.4rem;
    width: 74%;
    padding: 1%;
    /* background-image: linear-gradient(to top, #daebda 0%, #cae4cc 100%); */
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: underline;
}
.position_title:hover {
    text-decoration: underline;
    color: var(--bright-color);
    background: #eeeeee;
}
.position_title.active {
    text-decoration: none;
    color: var(--black);
    background: var(--bright-color);
}
.position_title_info {
    font-weight: 500;
}
.position__description {
    padding: 20px 20px 20px 28%;
}

.position_sub_titles {
    margin: 1rem 0 0.5rem 0;
    font-weight: 600;
}

.section-title_1 {
    font-size: 1.8rem;
    font-variant: all-small-caps;
    font-family: sans-serif;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--darktgrey);
    display: inline-block;
    margin: 1.4rem 0 1rem 0;
    padding-bottom: 0.25rem;
    width: 100%;
}

.section-title_2 {
    font-size: 1.8rem;
    font-variant: all-small-caps;
    font-family: sans-serif;
    letter-spacing: 1px;
    border-bottom: 1px solid #333;
    width: 100%;
}

.inline {
    display: inline-block;
}
.icon-angle-double-up {
    font-size: 3rem;
    display: inline-block;
    width: 50px;
    height: 40px;
    min-height: 80px;
    margin-right: -15px;
    padding: 65% 4px;
    background: rgba(119, 119, 119, 0.8);
    border: none;
    color: var(--white);
    border-radius: 50px 0 0 50px;
    z-index: 999;
    outline: none;

}

.icon-angle-double-up:hover {
    background: var(--white);
    color: #777;
    border: 1px solid var(--white);
}


/* mobile responsive */
@media screen and (min-width: 1401px) {
    body {
        width: 80%;
        /* width: calc(100% - 360px); */
    }
}

@media screen and (max-width: 1600px) {
    .blockleft {
      position: relative;
      /* padding-left: 1rem; */
    }
}
@media screen and (min-width: 1000px) {
    .blockleft {max-width: 30%;}
}

@media screen and (max-width: 1000px) {
    .container {
        max-width: 100%;
        flex-wrap: wrap;
    }
    .blockleft {
        max-width: 360px;
        height: 100%;
        position: relative;
    }

    .blockleft,
    .blockright {
        float: none;
        max-width: 100%;
        color: var(--darktgrey);
    }
    .icon-angle-double-up {
        width: 50px;
        height: 40px;
        margin-right: -15px;
        padding: 65% 4px;
    }
}
@media screen and (max-width: 720px) {
    .ancor-text {
      display: none;
    }
}

@media screen and (max-width: 520px) {
    html {
        padding: 0;
    }

    .item-box {
        display: block;
    }

    .icon-settings-streamline-2,
    .icon-picture-streamline-1,
    .icon-earth-globe-streamline {
        display: block;
        margin: 10px auto;
    }

    .ancor-text {
        margin-top: 4px;
    }
    .header {
        flex-direction: column-reverse;
        align-items: center;
    }
    .header-text {
        text-align: center;
        margin: 20px
    }
    .profile_pic {
        margin: 20px 0 0 0;
    }
}
