@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

* {
    /* transition: all 0.1s; */
    clear: both;
}

html {
    padding: 20px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    color: #444;
    background: #eee;
    font-size: 0.9rem;
    font-family: sans-serif;
    -webkit-box-shadow: 4px 2px 10px 8px #ccc;
    -moz-box-shadow: 4px 2px 10px 8px #ccc;
    box-shadow: 4px 2px 10px 8px #ccc;
    font-family: 'Montserrat', sans-serif;
}

.a0 {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 20px;
    min-height: 240px;
    background: url(http://cv.lux-exchange.com/img/forest_fog.jpg);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgb(0, 0, 0, 0.7) 100%), url(http://cv.lux-exchange.com/img/forest_fog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%50%;
}

.header-text {
    margin: auto 20px;
    font-size: 40px;
    color: #fff;
    font-variant: all-small-caps;
    text-align: end;
    text-align: right;
}

.introduction__photo {
    margin: auto 0;
    border-radius: 20px;
    max-width: 150px;
    height: 150px;
}

.container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.clearfix {
    content: "";
    clear: both;
    display: table-cell;
}

a {
    color: #000 !important;
    cursor: pointer;
}

a:hover {
    color: #333 !important;
    /* #2d9e94 */
}

.blockleft {
    padding: 10px;
    display: block;
    box-sizing: border-box;
    display: inline-block;
}

.introduction {
    overflow: hidden;
}

.introduction__text {
    margin: auto;
}

.pdatalist {
    padding-left: 0.75em;
}

.contact_icons {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    fill: #444;
    margin: 0.5rem 1rem 0 0;
}

.contacts a:hover .contact_icons {
    fill: #333;
    transform: scale(1.1, 1.1);
}

.contacts span a {
    display: block;
    min-width: 12rem;

}

.icons {
    display: flex;
}

.icon-instagram,
.icon-facebook {
    width: 40px;
    height: 40px;
    color: #000;
    display: inline-block;
    font-size: 40px;
}

.icons__social {
    width: 40%;
    padding-right: 10px;
    box-sizing: border-box;
}

.icons__hobbies {
    width: 60%;
}

.icons img {
    border: 1px solid #8a6e6e;
    background: #fff;
    border-radius: 50%;
    transition-duration: 1s;
    /*    transition: left 0s cubic-bezier(0, .99, .98, .02) 0s;*/
}

.icons img:hover {
    background: #333;
    border: 1px solid #333;
    border-radius: 50%;
    /*

*/
}

.ancor-item:hover .icon-settings-streamline-2,
.ancor-item:hover .icon-earth-globe-streamline,
.ancor-item:hover .icon-picture-streamline-1 {
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    /*
 20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
*/
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


.blockright {
  color: #000;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.blockright a {
    color: #3193c1;
    cursor: pointer;
}

.blockright a:hover {
    color: #333 !important;
    /* #2d9e94 */
}

.hanging-btn {
    display: inline-block;
    position: fixed;
    width: 40px;
    min-height: 80px;
    top: 50%;
    right: 0;
    padding: 0 4px;
    background: rgba(119, 119, 119, 0.8);
    border: none;
    color: #fff;
    font-variant: all-petite-caps;
    border-radius: 50px 0 0 50px;
    z-index: 999;
    outline: none;
    display: none;
}

.hanging-btn:hover {
    background: #fff;
    color: #777;
    border: 1px solid #fff;
}

.text-left {
    display: block;
    text-align: right;
    display: none;
}

ul {
    font-size: 0.9rem;
    margin: 10px 0 20px 10px;
    padding-left: 1.5rem;
}

.summary {
    cursor: pointer;
    font-weight: 600;
    outline: none;
}
.summary:first-child {
    margin: 10px 0 0 0;
}


.ancors-block {
    display: flex;
}

.ancors-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.ancor-item {
    display: flex;
    width: 33%;
    min-height: 60px;
    vertical-align: middle;
    background: #eee;
}

.item-box {
    display: flex;
    margin: auto;
    line-height: 60px;
}

/* Icons Start ----------------------- */
[class^="icon-"],
[class*=" icon-"] {
    height: 10px;
    width: 10px;
    font-size: 16px;
    display: inline-block;
    fill: currentColor;
    font-family: "blockstoreio";
}

.icon-settings-streamline-2,
.icon-picture-streamline-1,
.icon-earth-globe-streamline {
    font-size: 20px;
    margin: 0 20px;
}

.icon-barbell,
.icon-mountains,
.icon-language,
.icon-facebook,
.icon-instagram {
    width: 40px;
    height: 40px;
    color: #777;
    font-size: 26px;
    margin: 0;
    border-radius: 50px;
    vertical-align: top;
    background: #fff;
    padding: 7px;
}


.icon-barbell:hover,
.icon-mountains:hover,
.icon-language:hover,
.icon-facebook:hover,
.icon-instagram:hover {
    background: #777;
    color: #fff;
}

.ancor-text {
    display: inline-block;
    margin: auto;
    margin-left: 0;
    font-size: 1em;
    letter-spacing: 1px;
    color: #000;
    font-variant: all-petite-caps;
    text-decoration: underline;
}

.ancor-text:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color 0.1s;
    -o-transition: color 0.1s;
    transition: color 0.1s;
}

.ancor-text a {
    text-decoration: none !important;
}

.position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-top: 1rem; */
    border-bottom: 1px dotted rgba(204, 204, 204, 1);
}

.period {
    color: #505050;
    font-size: 12px;
    width: 24%;
    padding: 1%;
    /* background-image: linear-gradient(to top, #c1dfc4 0%, #cae4cc 100%); */
    display: flex;
    box-sizing: border-box;
}

.center {
    /* margin: auto; */
    font-weight: 600;
}

.position_title {
    color: #232323;
    font-size: 14px;
    width: 74%;
    padding: 1%;
    /* background-image: linear-gradient(to top, #daebda 0%, #cae4cc 100%); */
    box-sizing: border-box;
    cursor: pointer;
}
.position_title:hover {
    text-decoration: underline;
    background: #eeeeee;
}
.position_title_info {
    font-weight: 500;
}
.position__description {
    /* display: none; */
    width: 100%;
    padding-left: 28%;
    margin: 0 0 10px 0;
}

.position_sub_titles {
    margin: 1rem 0 0.5rem 0;
    font-weight: 600;
}

.section-title_1 {
    font-size: 1.2rem;
    font-variant: all-small-caps;
    font-family: sans-serif;
    letter-spacing: 1px;
    border-bottom: 1px solid #333;
    display: inline-block;
    margin: 1.4rem 0 1rem 0;
    padding-bottom: 0.25rem;
    width: 100%;
}

.section-title_2 {
    font-size: 1.4rem;
    font-variant: all-small-caps;
    font-family: sans-serif;
    letter-spacing: 1px;
    border-bottom: 1px solid #333;
    margin: 1.4rem 0 0 0;
    width: 100%;
}

.inline {
    display: inline-block;
}
.icon-angle-double-up {
    font-size: 30px;
    display: inline-block;
    width: 50px;
    height: 40px;
    min-height: 80px;
    margin-right: -15px;
    padding: 65% 4px;
    background: rgba(119, 119, 119, 0.8);
    border: none;
    color: #fff;
    border-radius: 50px 0 0 50px;
    z-index: 999;
    outline: none;

}

.icon-angle-double-up:hover {
    background: #fff;
    color: #777;
    border: 1px solid #fff;
}


/* mobile responsive */

@media screen and (min-width: 1401px) {
    body {
        width: 80%;
    }

    .blockleft {
        color: #444444;
        width: 360px;
        height: 100%;
        position: relative;
    }

    .blockright {
        /* width: calc(100% - 360px); */
    }
    .wrap {
        /* width: calc(100% - 360px); */
    }

}

@media screen and (max-width: 1600px) {
    .blockleft {
        max-width: 35%;
        position: relative;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .blockright {
        /* max-width: 65% */
    }
    .wrap {
         /* max-width: 65%; */
    }
}


@media screen and (max-width: 900px) {
    .container {
        max-width: 100%;
    }

    .blockleft,
    .blockright {
        float: none;
        max-width: 100%;
        color: #555555;
    }
    .icon-angle-double-up {
        width: 50px;
        height: 40px;
        margin-right: -15px;
        padding: 65% 4px;
    }
}

@media screen and (max-width: 520px) {
    html {
        padding: 0;
    }

    .item-box {
        display: block;
    }

    .icon-settings-streamline-2,
    .icon-picture-streamline-1,
    .icon-earth-globe-streamline {
        display: block;
        margin: 10px auto;
    }

    .ancor-text {
        margin-top: 4px;
    }
}
